# Virtual env
.venv/

# Python cache
__pycache__/
*.pyc
*.pyo
.pytest_cache/

# Logs and temp
*.log
*.tmp

# IDE/project files
.vscode/  
!.vscode/launch.json  # Debugger
.idea/

data/

node_modules/

# OS junk
.DS_Store
Thumbs.db
